# 排除编译后的class文件
*.class
# 排除log文件
*.log
# 排除target目录
target/


# Mobile Tools for Java (J2ME) / Android APP的依赖（TODO）
.mtj.tmp/


# Package Files  / 排除打包文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# 排除idea的目录
.idea/
# 排除idea的项目标识文件
*.iml


# 排除eclipse的项目标识文件
*.project

