<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<!-- 参数设置，一堆参数设置，自行百度 -->
	<settings>
		<setting name="cacheEnabled" value="true" />

		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>


</configuration>  